.header {
    padding: 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.title{
    color: white;
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    justify-content: start;
}

.title:hover{
    text-decoration: none;
    color: wheat;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

.nav-item{
    font-size: 1.2rem;
    margin-right: 1.3rem;
    color: black;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    border-radius: 0.2em;


}

.nav-item:hover{
    color: #666666;
    text-decoration: none;
}

.active-nav-item{
    color: #333333;
}